{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="question-view">
  <div class="page-header">
    <h2>{{ question.evaluation_question }}</h2>
  </div>

  <div class="row">
    <table class="table table-striped" id="list_of_questions">
      <thead>
        <tr>
          <th> </th>
          <th>Answer</th>
          <th>Upvotes</th>
          </tr>
      </thead>
      <tbody>
        {% for answer in answers %}
          <tr>
            <td><span class=upvote></span></td>
            <td> {{ answer.answer_content }} </td>
            <td> {{ answer.answer_upvotes }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
